@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor .main .container, .contenedor .main .container-lg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.contenedor .container-fluid .contenedor__servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front {
  border: 2px solid white;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.contenedor .main #imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .main {
  background: rgb(0, 0, 0);
  background: linear-gradient(294deg, rgb(0, 0, 0) 0%, rgb(16, 49, 69) 16%, rgb(42, 129, 184) 53%, rgb(29, 80, 113) 73%, rgb(9, 9, 9) 95%);
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, #bgimg, .contenedor .footer, .contenedor .container-fluid, .contenedor .header, .contenedor {
  background-color: #1c8ac9;
  background-image: linear-gradient(160deg, #1c8ac9 0%, #010926 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
@mixin varios ($ancho, $display, $center){
    width: $ancho;
    display: $display;
    justify-content: $center;

@include varios( 50% , grid , flex-end )
}*/
/*@mixin condicion ($colores){
    background-color: $colores;

    @if $colores == red{
        border: 1px solid black
    } @else{
        border: 3px dotted blue;
    }
}*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor .main .container, .contenedor .main .container-lg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.contenedor .container-fluid .contenedor__servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front {
  border: 2px solid white;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.contenedor .main #imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .main {
  background: rgb(0, 0, 0);
  background: linear-gradient(294deg, rgb(0, 0, 0) 0%, rgb(16, 49, 69) 16%, rgb(42, 129, 184) 53%, rgb(29, 80, 113) 73%, rgb(9, 9, 9) 95%);
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, #bgimg, .contenedor .footer, .contenedor .container-fluid, .contenedor .header, .contenedor {
  background-color: #1c8ac9;
  background-image: linear-gradient(160deg, #1c8ac9 0%, #010926 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
@mixin varios ($ancho, $display, $center){
    width: $ancho;
    display: $display;
    justify-content: $center;

@include varios( 50% , grid , flex-end )
}*/
/*@mixin condicion ($colores){
    background-color: $colores;

    @if $colores == red{
        border: 1px solid black
    } @else{
        border: 3px dotted blue;
    }
}*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
.contenedor .header {
  grid-area: header;
}
@media screen and (max-width: 990px) {
  .contenedor .header .navbar .btn {
    display: none;
  }
}
.contenedor .container-fluid {
  grid-area: main;
  color: white;
  text-align: center;
}
.contenedor .container-fluid .informacion h1 {
  color: #212121;
}
.contenedor .container-fluid .informacion p {
  padding: 0px 40px;
}
@media screen and (max-width: 450px) {
  .contenedor .container-fluid .informacion p {
    font-size: 15px;
  }
}
.contenedor .container-fluid .informacion h2 {
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (max-width: 580) {
  .contenedor .container-fluid .informacion .mapa iframe {
    width: 300px;
    height: 200px;
  }
}
.contenedor .footer {
  grid-area: footer;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.contenedor .footer #iconos i {
  font-size: 50px;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .contenedor .footer #iconos i {
    font-size: 30px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor .main .container, .contenedor .main .container-lg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.contenedor .container-fluid .contenedor__servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front {
  border: 2px solid white;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.contenedor .main #imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .main {
  background: rgb(0, 0, 0);
  background: linear-gradient(294deg, rgb(0, 0, 0) 0%, rgb(16, 49, 69) 16%, rgb(42, 129, 184) 53%, rgb(29, 80, 113) 73%, rgb(9, 9, 9) 95%);
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, #bgimg, .contenedor, .contenedor .header, .contenedor .container-fluid, .contenedor .footer {
  background-color: #1c8ac9;
  background-image: linear-gradient(160deg, #1c8ac9 0%, #010926 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
@mixin varios ($ancho, $display, $center){
    width: $ancho;
    display: $display;
    justify-content: $center;

@include varios( 50% , grid , flex-end )
}*/
/*@mixin condicion ($colores){
    background-color: $colores;

    @if $colores == red{
        border: 1px solid black
    } @else{
        border: 3px dotted blue;
    }
}*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
}
.contenedor .header {
  grid-area: header;
  background-color: #17202A;
}
.contenedor .header .navbar .container-lg a button {
  margin-right: 10vh;
  background: none;
  color: #2980B9;
  border: 2px solid #2980B9;
  border-radius: 15px;
  padding: 6px 10px;
}
.contenedor .header .navbar .container-lg a button:hover {
  font-weight: 400;
  color: #212121;
  border: 2px solid #cc0d0d;
  background-color: #cc0d0d;
}
@media screen and (max-width: 990px) {
  .contenedor .header .navbar .container-lg a button {
    display: none;
    margin-right: 2vh;
  }
}
.contenedor .header .navbar .container-lg a img {
  width: 100px;
  margin-left: 10vh;
}
@media screen and (max-width: 480px) {
  .contenedor .header .navbar .container-lg a img {
    width: 5px;
    margin-left: 2vh;
  }
}
.contenedor .main {
  grid-area: main;
}
@media screen and (max-width: 480px) {
  .contenedor .main #carusel {
    display: none;
  }
}
.contenedor .main .container-lg {
  padding-top: 40px;
  color: white;
  flex-direction: column;
  justify-content: space-around;
}
.contenedor .main .container-lg h2 {
  padding-top: 50px;
  color: #17202A;
  font-size: 60px;
}
@media screen and (max-width: 481px) {
  .contenedor .main .container-lg h2 {
    font-size: 28px;
    color: white;
  }
}
.contenedor .main .container-lg h1 {
  font-size: 70px;
}
@media screen and (max-width: 480px) {
  .contenedor .main .container-lg h1 {
    font-size: 25px;
  }
}
.contenedor .main p {
  margin-top: 40px;
  font-size: 20px;
  padding: 10px 20px;
}
@media screen and (max-width: 480px) {
  .contenedor .main p {
    font-size: 15px;
    padding: 10px 10px;
  }
}
.contenedor .main .p2 {
  font-size: 20px;
  padding: 10px 30px;
}
@media screen and (max-width: 480px) {
  .contenedor .main .p2 {
    font-size: 15px;
  }
}
.contenedor #imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor .container {
  margin-top: 3%;
  /*FIN MAIN*/
}
.contenedor .container h2 {
  color: #212121;
  font-size: 50px;
}
.contenedor .container .inner {
  overflow: hidden;
}
.contenedor .container .inner img {
  transition: all 1.5s ease;
}
.contenedor .container .inner img:hover {
  transform: scale(1.5);
}

.footer {
  grid-area: footer;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.footer #iconos i {
  font-size: 50px;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .footer #iconos i {
    font-size: 30px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor .main .container, .contenedor .main .container-lg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.contenedor .container-fluid .contenedor__servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front {
  border: 2px solid white;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.contenedor .main #imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .main {
  background: rgb(0, 0, 0);
  background: linear-gradient(294deg, rgb(0, 0, 0) 0%, rgb(16, 49, 69) 16%, rgb(42, 129, 184) 53%, rgb(29, 80, 113) 73%, rgb(9, 9, 9) 95%);
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, .contenedor, .contenedor .header, .contenedor .container-fluid, .contenedor .footer, #bgimg {
  background-color: #1c8ac9;
  background-image: linear-gradient(160deg, #1c8ac9 0%, #010926 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
@mixin varios ($ancho, $display, $center){
    width: $ancho;
    display: $display;
    justify-content: $center;

@include varios( 50% , grid , flex-end )
}*/
/*@mixin condicion ($colores){
    background-color: $colores;

    @if $colores == red{
        border: 1px solid black
    } @else{
        border: 3px dotted blue;
    }
}*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
}
.contenedor .header {
  grid-area: header;
  background-color: #17202A;
}
.contenedor .header .navbar .container-fluid a button {
  margin-right: 10vh;
  background: none;
  color: #2980B9;
  border: 2px solid #2980B9;
  border-radius: 15px;
  padding: 6px 10px;
}
.contenedor .header .navbar .container-fluid a button:hover {
  font-weight: 400;
  color: #212121;
  border: 2px solid #cc0d0d;
  background-color: #cc0d0d;
}
@media screen and (max-width: 990px) {
  .contenedor .header .navbar .container-fluid a button {
    display: none;
    margin-right: 2vh;
  }
}
.contenedor .header .navbar .container-fluid a img {
  width: 150px;
  margin-left: 10vh;
}
@media screen and (max-width: 480px) {
  .contenedor .header .navbar .container-fluid a img {
    width: 150px;
    margin-left: 2vh;
  }
}
.contenedor .main {
  grid-area: main;
  background-color: #212121;
}
.contenedor .main .container-lg {
  padding-top: 50px;
  color: white;
  flex-direction: column;
  justify-content: space-around;
}
.contenedor .main .container-lg h1 {
  font-size: 70px;
  color: white;
}
@media screen and (max-width: 480px) {
  .contenedor .main .container-lg h1 {
    font-size: 35px;
  }
}
.contenedor .main #contenedor-galeria {
  margin-top: 40px;
  margin-bottom: 60px;
  /*FIN MAIN*/
}
.contenedor .main #contenedor-galeria .inner {
  overflow: hidden;
}
.contenedor .main #contenedor-galeria .inner img {
  transition: all 1.5s ease;
}
.contenedor .main #contenedor-galeria .inner img:hover {
  transform: scale(1.5);
}
.contenedor .footer {
  grid-area: footer;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.contenedor .footer #iconos i {
  font-size: 50px;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .contenedor .footer #iconos i {
    font-size: 30px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor .main .container, .contenedor .main .container-lg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.contenedor .container-fluid .contenedor__servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front {
  border: 2px solid white;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.contenedor .main #imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .main {
  background: rgb(0, 0, 0);
  background: linear-gradient(294deg, rgb(0, 0, 0) 0%, rgb(16, 49, 69) 16%, rgb(42, 129, 184) 53%, rgb(29, 80, 113) 73%, rgb(9, 9, 9) 95%);
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, .contenedor, .contenedor .header, .contenedor .container-fluid, .contenedor .footer, #bgimg {
  background-color: #1c8ac9;
  background-image: linear-gradient(160deg, #1c8ac9 0%, #010926 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
@mixin varios ($ancho, $display, $center){
    width: $ancho;
    display: $display;
    justify-content: $center;

@include varios( 50% , grid , flex-end )
}*/
/*@mixin condicion ($colores){
    background-color: $colores;

    @if $colores == red{
        border: 1px solid black
    } @else{
        border: 3px dotted blue;
    }
}*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
.contenedor .header {
  grid-area: header;
}
@media screen and (max-width: 990px) {
  .contenedor .header .navbar .btn {
    display: none;
  }
}
.contenedor .container-fluid {
  grid-area: main;
  color: white;
  text-align: center;
}
.contenedor .container-fluid h1 {
  color: white;
  padding-top: 40px;
}
.contenedor .container-fluid a {
  text-decoration: none;
}
.contenedor .container-fluid .contenedor__servicios {
  max-width: 1500px;
  margin: 50px auto;
}
.contenedor .container-fluid .contenedor__servicios .contenedor__card {
  margin: 30px;
  border-radius: 20px;
}
.contenedor .container-fluid .contenedor__servicios .contenedor__card:hover figure {
  -webkit-transform: perspective(600px) rotateY(180deg);
  -ms-transform: perspective(600px) rotateY(180deg);
  -o-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
}
.contenedor .container-fluid .contenedor__servicios .contenedor__card a {
  display: inline-block;
}
.contenedor .container-fluid .contenedor__servicios .contenedor__card figure {
  width: 300px;
  height: 350px;
  margin: 0;
  position: relative;
  transition: all ease 0.5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg);
}
@media screen and (max-width: 320px) {
  .contenedor .container-fluid .contenedor__servicios .contenedor__card figure {
    width: 200px;
    height: 250px;
  }
}
.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front {
  display: block;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
}
.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front img {
  width: 300px;
}
.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto;
}
.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back h2 {
  font-size: 30px;
}
@media screen and (max-width: 320px) {
  .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back h2 {
    padding-top: 30px;
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back p {
    font-size: 15px;
  }
}
.contenedor .footer {
  grid-area: footer;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.contenedor .footer #iconos i {
  font-size: 50px;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .contenedor .footer #iconos i {
    font-size: 30px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor .main .container, .contenedor .main .container-lg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.contenedor .container-fluid .contenedor__servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back {
  border: 2px solid white;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.contenedor .main #imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .main {
  background: rgb(0, 0, 0);
  background: linear-gradient(294deg, rgb(0, 0, 0) 0%, rgb(16, 49, 69) 16%, rgb(42, 129, 184) 53%, rgb(29, 80, 113) 73%, rgb(9, 9, 9) 95%);
}

.contenedor, .contenedor .header, .contenedor .container-fluid, .contenedor .footer, #bgimg, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back {
  background-color: #1c8ac9;
  background-image: linear-gradient(160deg, #1c8ac9 0%, #010926 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
@mixin varios ($ancho, $display, $center){
    width: $ancho;
    display: $display;
    justify-content: $center;

@include varios( 50% , grid , flex-end )
}*/
/*@mixin condicion ($colores){
    background-color: $colores;

    @if $colores == red{
        border: 1px solid black
    } @else{
        border: 3px dotted blue;
    }
}*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
.contenedor .header {
  grid-area: header;
  background-color: #17202A;
}
.contenedor .header .navbar .container-fluid a button {
  margin-right: 10vh;
  background: none;
  color: #2980B9;
  border: 2px solid #2980B9;
  border-radius: 15px;
  padding: 6px 10px;
}
.contenedor .header .navbar .container-fluid a button:hover {
  font-weight: 400;
  color: #212121;
  border: 2px solid #cc0d0d;
  background-color: #cc0d0d;
}
@media screen and (max-width: 990px) {
  .contenedor .header .navbar .container-fluid a button {
    display: none;
    margin-right: 2vh;
  }
}
.contenedor .header .navbar .container-fluid a img {
  width: 150px;
  margin-left: 10vh;
}
@media screen and (max-width: 480px) {
  .contenedor .header .navbar .container-fluid a img {
    width: 150px;
    margin-left: 2vh;
  }
}
.contenedor .main {
  grid-area: main;
  background-color: #212121;
  /*FIN MAIN*/
}
@media screen and (max-width: 480px) {
  .contenedor .main .carusel {
    display: contents;
  }
}
.contenedor .main .container {
  margin-bottom: 50px;
  flex-direction: column;
}
.contenedor .main .container h1 {
  margin-top: 30px;
}
.contenedor .main .container p {
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 380px) {
  .contenedor .main .container p {
    font-size: 12px;
  }
}

.footer {
  grid-area: footer;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.footer #iconos i {
  font-size: 50px;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .footer #iconos i {
    font-size: 30px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor .main .container-lg, .contenedor .main .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.contenedor .container-fluid .contenedor__servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back {
  border: 2px solid white;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.contenedor .main #imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .main {
  background: rgb(0, 0, 0);
  background: linear-gradient(294deg, rgb(0, 0, 0) 0%, rgb(16, 49, 69) 16%, rgb(42, 129, 184) 53%, rgb(29, 80, 113) 73%, rgb(9, 9, 9) 95%);
}

.contenedor, .contenedor .header, .contenedor .container-fluid, .contenedor .footer, #bgimg, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back {
  background-color: #1c8ac9;
  background-image: linear-gradient(160deg, #1c8ac9 0%, #010926 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
@mixin varios ($ancho, $display, $center){
    width: $ancho;
    display: $display;
    justify-content: $center;

@include varios( 50% , grid , flex-end )
}*/
/*@mixin condicion ($colores){
    background-color: $colores;

    @if $colores == red{
        border: 1px solid black
    } @else{
        border: 3px dotted blue;
    }
}*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor .main .container-lg, .contenedor .main .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.contenedor .container-fluid .contenedor__servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back {
  border: 2px solid white;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.contenedor .main #imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .main {
  background: rgb(0, 0, 0);
  background: linear-gradient(294deg, rgb(0, 0, 0) 0%, rgb(16, 49, 69) 16%, rgb(42, 129, 184) 53%, rgb(29, 80, 113) 73%, rgb(9, 9, 9) 95%);
}

.contenedor, .contenedor .header, .contenedor .container-fluid, .contenedor .footer, #bgimg, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back {
  background-color: #1c8ac9;
  background-image: linear-gradient(160deg, #1c8ac9 0%, #010926 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
@mixin varios ($ancho, $display, $center){
    width: $ancho;
    display: $display;
    justify-content: $center;

@include varios( 50% , grid , flex-end )
}*/
/*@mixin condicion ($colores){
    background-color: $colores;

    @if $colores == red{
        border: 1px solid black
    } @else{
        border: 3px dotted blue;
    }
}*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
.contenedor .header {
  grid-area: header;
}
@media screen and (max-width: 990px) {
  .contenedor .header .navbar .btn {
    display: none;
  }
}
.contenedor .formulario {
  grid-area: main;
  color: white;
  text-align: center;
  margin: 50px;
}
.contenedor .formulario .container {
  width: 100%;
}
.contenedor .footer {
  grid-area: footer;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.contenedor .footer #iconos i {
  font-size: 50px;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .contenedor .footer #iconos i {
    font-size: 30px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor .main .container-lg, .contenedor .main .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.contenedor .container-fluid .contenedor__servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back {
  border: 2px solid white;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.contenedor .main #imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .main {
  background: rgb(0, 0, 0);
  background: linear-gradient(294deg, rgb(0, 0, 0) 0%, rgb(16, 49, 69) 16%, rgb(42, 129, 184) 53%, rgb(29, 80, 113) 73%, rgb(9, 9, 9) 95%);
}

.contenedor, .contenedor .header, .contenedor .container-fluid, .contenedor .footer, #bgimg, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .front, .contenedor .container-fluid .contenedor__servicios .contenedor__card figure .back {
  background-color: #1c8ac9;
  background-image: linear-gradient(160deg, #1c8ac9 0%, #010926 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
@mixin varios ($ancho, $display, $center){
    width: $ancho;
    display: $display;
    justify-content: $center;

@include varios( 50% , grid , flex-end )
}*/
/*@mixin condicion ($colores){
    background-color: $colores;

    @if $colores == red{
        border: 1px solid black
    } @else{
        border: 3px dotted blue;
    }
}*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
.contenedor .header {
  grid-area: header;
  background-color: #17202A;
}
.contenedor .header .navbar .container-fluid a button {
  margin-right: 10vh;
  background: none;
  color: #2980B9;
  border: 2px solid #2980B9;
  border-radius: 15px;
  padding: 6px 10px;
}
.contenedor .header .navbar .container-fluid a button:hover {
  font-weight: 400;
  color: #212121;
  border: 2px solid #cc0d0d;
  background-color: #cc0d0d;
}
@media screen and (max-width: 990px) {
  .contenedor .header .navbar .container-fluid a button {
    display: none;
    margin-right: 2vh;
  }
}
.contenedor .header .navbar .container-fluid a img {
  width: 150px;
  margin-left: 10vh;
}
@media screen and (max-width: 480px) {
  .contenedor .header .navbar .container-fluid a img {
    width: 150px;
    margin-left: 2vh;
  }
}
.contenedor .main {
  grid-area: main;
  /*FIN MAIN*/
}
@media screen and (max-width: 995px) {
  .contenedor .main .container-fluid {
    height: 600px;
  }
}
.contenedor .main .container-fluid img {
  width: 90%;
}
.contenedor .footer {
  grid-area: footer;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.contenedor .footer #iconos i {
  font-size: 50px;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .contenedor .footer #iconos i {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
