@import "../base/variables";
@import "../base/extends";
@import "../base/listas";
@import "../base/mixins";




.contenedor{  
    @include grid;
    
  // header
  .header { 
    grid-area: header;
    background-color: nth($colores, 5);
     
                a img{
                    width: 150px;
                    margin-left: 10vh;
                    @media screen and (max-width: 480px) {
                        width: 150px;
                        margin-left: 2vh;
                        
                    }
                }    
            }
        }
    // Main Contacto
    .main { 
        .carusel{

            @media screen and (max-width: 480px) {
                display: contents;
                
            }
        }
        grid-area: main; 
        background-color: nth($colores, 1);
            .container{
                margin-bottom: 50px;
                @extend %flexbox;
                flex-direction: column;
               
                h1{
                    font-size: 40px;
                    font-weight: bold;
                    margin-top: 30px;

                }
                p{
                   
                    color: nth($colores, 3);
                    font-size: 30px;
                    @media screen and (max-width:480px) {
                        font-size: 22px;
                        margin: 10px 5px;
                    }
                }
            }
        
            /*FIN MAIN*/
        }

    
    .footer { 
        @include footer;
            #iconos i{
                font-size: 50px;
                padding: 0 10px;
                @media screen and (max-width: 480px) {
                font-size: 30px;
                } 
            }
            
    } 

  

    

