@import "../base/variables";
@import "../base/extends";
@import "../base/listas";
@import "../base/mixins";




.contenedor{  
    @include grid;
    
      @media screen and (max-width:480px) {
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";

      }
  
  .header { 
    grid-area: header;
    background-color: nth($colores, 5);
        .navbar{
            
            
            .container-fluid{

               
           
                a img{
                    width: 150px;
                    @media screen and (max-width: 480px) {
                        width: 120px;
                        
                        
                    }
                }    
            }
        }
    }
    .main { 
        grid-area: main; 
        background-color: nth($colores, 1);
        
        #imagen{
            @extend %img
            
        }
        
        #contenedor-galeria{
            margin-top: 40px;
            margin-bottom: 60px;
            h1{
                font-weight: bold;
                font-size: 70px;
                color: nth($colores, 3);
                @media screen and (max-width:480px) {
                    font-size: 35px;
                }
            }
            p{
                font-size: 20px;
            }
            .inner{
                overflow: hidden;
            }
            .inner img{
                transition: all 1.5s ease;
                &:hover{
                    transform: scale(1.5);
                }
            }
            /*FIN MAIN*/
        }

    }
    .footer { 
        @include footer;
            #iconos i{
                font-size: 50px;
                padding: 0 10px;
                @media screen and (max-width: 480px) {
                font-size: 30px;
                } 
            }
            
    } 
}
  

    