@import "../base/variables";
@import "../base/extends";
@import "../base/listas";
@import "../base/mixins";

//BODY
.contenedor{  
    @include grid;
    @extend %background-2;
  //HEADER
  .header { 
    grid-area: header;
    @extend %background-2;
  }
    //MAIN
    .container-fluid{ 
        grid-area: main; 
        @extend %background-2;
        color: nth($colores, 3);
        text-align: center;
        .informacion{
            h1{
                font-size: 50px;
                font-weight: bold;
                color: nth($colores, 1);
                @media screen and (max-width:480px){
                    font-size: 30px;
                }
            }
            p{
                padding: 0px 40px;
                @media screen and (max-width: 450px) {
                    font-size: 15px;
                    
                }
            }
            h2{
                font-size: 50px;
                font-weight: bold;
                color: nth($colores, 1);
                margin-bottom: 30px;
                @media screen and (max-width:480px){
                    font-size: 30px;
                }
            }
            .mapa{
                iframe{
                    @media screen and (max-width:580) {   
                        width: 300px;
                        height: 200px;
                    }
                   
                }
            }
        }
       
    }
    //FOOTER
    .footer { 
        @extend %background-2;
        @include footer;
        
        #iconos i{
            font-size: 50px;
            padding: 0 10px;
            @media screen and (max-width: 480px) {
             font-size: 30px;
             
            } 
        }
    }
}       