@import "../base/variables";
@import "../base/extends";
@import "../base/listas";
@import "../base/mixins";


.contenedor{  
    @include grid;
  
  .header { 
    grid-area: header;
    background-color: nth($colores, 5);
  }

    .main-servicios{ 
        grid-area: main; 
        background-color: nth($colores, 1);
        height: 100vh;
        .container{
            .center{
                display: flex;
                height: 100%;
                align-items: center;
               
                
            }
        }
    }
        


    .footer { 
        grid-area: footer; 
        display: flex;
        height: 80px;
        background-color: nth($colores, 5);
        align-items: center;
        justify-content: center;  
        #iconos i{
            font-size: 50px;
            padding: 0 10px;
            @media screen and (max-width: 480px) {
             font-size: 30px;
             
            } 
        }
    }
}       